*{
    box-sizing: border-box;
    margin: 0 auto;
}
#tong{
    width: 1020px;
    height: 950px;
    padding: 10px;
    border: 1px solid black;
    background-image: url('../images/background.jpg');
}
header{
    width: 100%;
    height: 125px;
    color: white;
    padding-left: 5px;   
}
nav{
    width: 20%;
    height: 760px;
    color: white;
    padding-right: 9px;
    
    border-right: 1px solid rgb(50, 200, 8);
    float: left;

}
section{
    width: 79%;
    height: 760px;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
   
    padding-right: 10px;
    float: left;
}
section>h1{
    background-color: rgb(50, 200, 8);
    width: 569px;
    height: 30px;
    letter-spacing: 10px;
    margin-left: 0px;
    padding-left: 45px;
}
section>h4{
    background-color: rgb(50, 200, 8);
    width: 320px;
    margin-left: 0px;
    padding-left: 20px;
    height: 20px;
}
section>img{
    padding-top: 20px;
}
footer{
    clear:both;
    width: 100%;
    height: 30px;
    padding: 2px;
    
}
footer>hr{
    margin: 2px;
}
footer>address{
    color: white;
    padding-top: 10px;
    text-align: center;
}
#p{
    padding-top: 7px;
}
#div1{
    background-color: rgb(222, 215, 215);
    height: 205px;
    width: 180px;
    padding: 4px;
}
#div2{
    background-color: white;
    height: 195px;
    width: 170px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(160, 154, 154) ;
}
#div3{
    background-color:white;
    height: 185px;
    width: 160px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(186, 176, 176, 0.799) ;
}
a{
    text-decoration: none;
    color: rgb(217, 14, 217);
}